<ion-view view-title="首页">
	<div class="homepage" ng-controller="homeCtrl">
	<div class="bar bar-header bar-wd">
		<h1 class="title">首页</h1>
		<a ng-if="!user.name" href="#/login" class="button button-clear wd-positive f14"><span>登陆</span></a>
		<a ng-if="user.name" href="" class="button button-clear wd-text-muted">{{user.name}}</a>
	</div>
	<ion-content class="has-header">
		<ion-refresher
      	pulling-text="下拉加载更多"
      	on-refresh="doRefresh()">
   </ion-refresher>
		<ion-slide-box loop="true" auto-play="true" does-continue="true">
			<ion-slide>
				<a href="">
					<img src="static/images/slider.png" width="100%" />
				</a>
			</ion-slide>
			<ion-slide>
				<a href="">
					<img src="static/images/slider.png" width="100%" />
				</a>
			</ion-slide>
			<ion-slide>
				<a href="">
					<img src="static/images/slider.png" width="100%" />
				</a>
			</ion-slide>
		</ion-slide-box>
		<!--list 产品列表-->
		<div class="list wd-prolist mt-10" ng-repeat="item in produceList track by $index">
			<div class="item item-header wd-text-positive" wd-render>
				{{item.title}}
			</div>
			<div class="item row ">
				<div class="col-30">
					<h3 class="wd-text-danger">{{item.yearBefit|number:2}}</h3>
					<p class="wd-text-muted">预期年化收益(%)</p>
				</div>
				<div class="col-20">
					<h4 class="wd-text-muted">{{item.minInvest}}</h4>
					<p class="wd-text-muted">起投金额(元)</p>
				</div>
				<div class="col-20 text-center">
					<h4 class="wd-text-muted">{{item.investDay}}</h4>
					<p class="wd-text-muted">期限(天)</p>
				</div>
				<div class="col-30 col-center">
					<p class="wd-text-muted lefted">剩余</p>
					<div data-precent="{{item.invertLeftPre}}" class="circle"></div>
				</div>
			</div>
			
		</div>
		 <ion-infinite-scroll
    	 on-infinite="loadMore()"
    	 distance="1%">
   	</ion-infinite-scroll>
	</ion-content>
</div>
</ion-view>