<ion-tabs class="tabs-icon-top  tabs-color-active-positive">
			<ion-tab
				title="首页"
				icon-on="ion-ios-home"
				icon-off="ion-ios-home-outline"
				href="#/tabs/home"
				>	
			<ion-nav-view name="home"></ion-nav-view>
			</ion-tab>
			<ion-tab
				title="理财"
				icon-on="ion-social-usd"
				icon-off="ion-social-usd-outline"
				href="#/tabs/produce"
				>
			<ion-nav-view name="produce"></ion-nav-view>
			</ion-tab>
			<ion-tab
				title="我的"
				icon-on="ion-ios-person"
				icon-off="ion-ios-person-outline"
				href="#/tabs/user"
				>
				<ion-nav-view name="user"></ion-nav-view>
			</ion-tab>
			
		</ion-tabs>